@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Montserrat:wght@400;500;700&display=swap');

*{
    --dark:#050505;
    --dark-gray:#1E1E1E;
    --white:#fff;
    --orange:#FF8132;
    --pink:#FF7798;
    --blue:#003AFF;
    --text:#17082F;
    --gray:#5F5F5F;
    --green:#03FFDF;
    --Bayon:"Bayon";
    --Montserrat:"Montserrat";
}

