@import "./constants";

.Contact {
    margin-top: -15%;
    padding: 0 10%;
    padding-top: 15%;
    border-radius: 100px;
    background-color: var(--dark);

    .image {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5% 0;

        .line {
            width: 40%;
            height: 2px;
            background-color: var(--white);
            opacity: .5;
        }
    }

    .container {
        padding: 0 2%;
        display: flex;
        margin-bottom: 5%;
        align-items: center;
        justify-content: space-between;

        .text {
            flex-basis: 55%;
            color: var(--white);
            font-family: var(--Montserrat);
            font-size: 32px;

            span:nth-child(1) {
                color: var(--orange);
            }

            span:nth-child(2) {
                color: var(--pink);
            }

            span:nth-child(3) {
                color: var(--orange);
            }

            span:nth-child(4) {
                color: var(--orange);
            }

            span:nth-child(5) {
                color: var(--pink);
            }

            span:nth-child(6) {
                color: var(--orange);
            }
        }

        .button {
            color: var(--white);
            font-family: var(--Montserrat);

            img {
                width: 200%;
            }
        }
    }

    .line {
        width: 100%;
        height: 2px;
        background-color: var(--white);
        opacity: .5;
    }
    
    @media screen and (width<450px) {
        padding-left: 2%;
        .line{
            display: none;
        }
        padding-right: 2%;
        .image{
            .line{
                display: inline-block;
                width: 30%;
                height: 1px;
            }
            img{
                width: 110px;
            }
        }
        border-radius: 50px;
        .container{
            display: flex;
            flex-direction: column;
            .text{
                text-align: center;
                font-size: 22px;
            }
            .button{
                font-size: 18px;
                img{
                    width: 150px;
                }
            }
        }
        .footer{
            display: none;
        }
    }
}