@import "./constants";

.Home {
    display: flex;
    flex-direction: column;
    background: url("../assets/plus.svg") no-repeat left 5% top 30%, url("../assets/star.svg") no-repeat right 3% top 40%;
    background-size: 50px;
    margin: 0 5%;

    .main-text {
        margin: 8% 0;
        align-self: center;
    }

    h1,
    h2 {
        text-align: center;
        font-weight: 400;
        font-family: var(--Bayon);
        color: var(--white);
    }

    h1 {
        font-size: 100px;

        span:nth-child(1) {
            color: var(--orange);
        }

        span:nth-child(2) {
            color: var(--pink);

            span:nth-child(1) {
                position: relative;
                color: var(--pink);

                img {
                    position: absolute;
                    right: -6px;
                }

            }
        }

        span:nth-child(3) {
            color: var(--orange);
        }
    }

    h2 {
        margin-top: -3%;
        font-size: 32px;

        span:nth-child(1) {
            position: relative;
            color: var(--pink);

            img {
                position: absolute;
                top: -30px;
            }
        }

        span:nth-child(2) {
            color: var(--blue);
        }

        span:nth-child(3) {
            padding: 0 10px;
            border-radius: 7px;
            color: var(--green);
        }
    }

    .container {
        font-family: var(--Montserrat);
        margin: 2% 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
            height: 150px;
            color: var(--white);
            background-color: var(--dark-gray);
            border-radius: 20px;
        }

        .item:first-child {
            position: relative;

            .link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 60px;
                position: absolute;
                top: -15%;
                background-color: var(--orange);
                transform: rotate(90deg);
                font-size: 24px;
                border-radius: 30px;
                color: var(--text);
                font-weight: 600;
            }

            p {
                margin-left: 20%;
            }

            font-size: 17px;
            display: flex;
            align-items: center;
            gap: 15%;
            flex-basis: 65%;
        }

        .item:last-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            div:first-child {
                top: -50%;
                left: 35%;
                position: absolute;
            }

            div:last-child {
                display: flex;
                align-items: center;
                margin-top: 15%;
                gap: 5px;

                button {
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    background-color: inherit;
                    border: 1px solid var(--white);
                    width: 32px;
                    height: 56px;
                    border-radius: 20px;

                    img {
                        animation: scrollDown 1.5s infinite;
                        margin-bottom: 30%;
                    }
                }

                p {
                    font-size: 20px;
                }
            }

            flex-basis: 33%;
        }
    }

    @media screen and (width<450px) {
        background: url("../assets/plus.svg") no-repeat left 5% top 5%, url("../assets/star.svg") no-repeat right 3% top 40%;
        background-size: 30px;
        margin: 0 2%;

        h1 {
            margin-top: 10%;
            font-size: 62px;
            line-height: 100%;
            span:nth-child(2) {
                img {
                    top: -10px;
                    width: 40px;
                }
            }
        }

        h2 {
            margin-top:3%;
            font-size: 18px;

            span:nth-child(1) {
                img {
                    position: absolute;
                    top: 0;
                    top: -15px;
                    width: 230px;
                }
            }
        }

        .container {
            margin: 0;
            margin-top: 10%;
            flex-direction: column;

            .item:first-child {
                padding: 2% 0;

                .link {
                    width: 100px;
                    height: 40px;
                    font-size: 15px;
                }

                width: 100%;
                flex-basis: 100%;
                height: 60px;
                font-size: 12px;
            }

            .item:last-child {
                width: 60%;
                margin-top: 5%;
                .button {
                    font-size: 14px;

                    img {
                        width: 120px;
                    }

                    p {
                        border-width: 1px;
                    }
                }

                div:first-child {
                    top: -20%;
                    left: 80%;
                }

                div:last-child {
                    margin-bottom: 5%;
                    p {
                        font-size: 16px;
                    }

                    button {
                        width: 30px;
                        height: 56px;
                    }
                }
            }
        }
    }
}

@keyframes scrollDown {
    0% {
        transform: translate(0, -5px);
    }

    50% {
        transform: translate(0, 3px);
    }

    100% {
        transform: translate(0, -5px);
    }
}

.running-text {
    font-weight: 600;
    font-family: var(--Montserrat);
    text-transform: uppercase;
    font-size: 52px;
    color: var(--white);
    background-color: black;
    overflow: hidden;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        animation: text 7s linear infinite;
    }

    p {
        display: flex;
        align-items: center;
        gap: 100px;
    }

    @keyframes text {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    } 
    @media screen and (width<450px) {
        margin-top: 5%;
        font-size: 16px;
        div{

            height: 50px;
        }
        p{
            gap:20px
        }
    }
}