@import "../../styles/constants";

header {
    .mobileNav{
        display: none;
    }
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
        margin: 0 10%;
        display: flex;
        gap: 100px;
        color: var(--white);
        font-size: 28px;
        font-family: var(--Bayon);
        p{
            cursor: pointer;
            transition: all .5s;
            &:hover{
                color: var(--orange);
            }
        }
    }

    img {
        width: 150px;
    }
}

@media screen and (width<450px) {
    header{
        flex-direction: column;
        .mobileNav{
            margin-top: 10px;
            display: flex;
            font-size: 22px;
            gap: 20px;
        }
        margin: 5% 2%;
        nav{
            display: none;
        }
        img{
            width:100px;
        }
    }
}