@import "../../styles/constants";

footer {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
        margin: 0 10%;
        display: flex;
        gap: 50px;
        color: var(--white);
        font-size: 28px;
        font-family: var(--Bayon);
        p{
            cursor: pointer;
            transition: all .5s;
            &:hover{
                color: var(--orange);
            }
        }
    }
    img {
        width: 150px;
    }
    .icons{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            width: 30px;
        }
    }
}